.home-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Home/image/bg1.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    z-index: -1; 
  }

.content {
    position: relative;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 3.5%;
    font-family: Quicksand;
    font-weight: 700;
    
  }

.titulo{
  font-size:70px;

}

.subtitulo{
  font-size: 40px;
  color: #FF6494;
}
@media (max-width: 768px) {
    .background-image {
      background-size: cover;
      background-position: top;
      
    }
    .titulo{
      font-size:40px;
    
    }
    
    .subtitulo{
      font-size: 25px;
      color: #FF6494;
    }

  }
  
@media (max-width: 480px) {
    .background-image {
      background-size: cover;
      background-position: center;
      /* Opcional: puedes reducir la altura del contenedor para que la imagen se vea mejor */
      height: 50vh; /* 50% de la altura de la ventana */
    }
    .titulo{
      font-size:20px;
    
    }
    
    .subtitulo{
      font-size: 15px;
      color: #FF6494;
    }

  
  }